@model TextboxBook.UI.Models.UserListViewModel
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class=" table-responsive mx-auto">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="listebasligi text-center">Id</th>
                        <th scope="col" class="listebasligi text-center">User Name</th>
                        <th scope="col" class="listebasligi text-center">E-Mail</th>
                        <th scope="col" class="listebasligi text-center">Name</th>
                        <th scope="col" class="listebasligi text-center">SurName</th>
                        <th scope="col" class="listebasligi text-center">Detail</th>
                        <th scope="col" class="listebasligi text-center">Edit</th>
                        <th scope="col" class="listebasligi text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userList in Model.UsersList)
                    {
                        <tr class="text-center ">
                            <td class="align-middle">
                                <p class="listeyazisi">@userList.Id</p>
                            </td>

                            <td class="align-middle">
                                <p class="listeyazisi text-center">@userList.UserName</p>
                            </td>
                            <td class="align-middle">
                                <p class="listeyazisi text-center">@userList.Email</p>
                            </td>
                            <td class="align-middle">
                                <p class="listeyazisi text-center">@userList.Name</p>
                            </td>
                            <td class="align-middle">
                                <p class="listeyazisi text-center">@userList.Surname</p>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="admin" asp-action="UserDetail" asp-route-Id="@userList.Id" asp-route-countryId="@userList.CountryId" asp-route-genderId="@userList.GenderId" class="btn btn-xs btn-primary"> Details</a>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="admin" asp-action="UserUpdate" asp-route-Id="@userList.Id" class="btn btn-xs btn-warning"> Edit</a>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="admin" asp-action="UserDelete" asp-route-Id="@userList.Id" class="btn btn-xs btn-danger"> Delete</a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <a type="button" class="btn btn-info" asp-action="newuser">New User</a>
            </div>
        </div>

    </div>

</div>
